* {
	margin: 0px;
}

html,body {
	background-color: #999;
	margin: 0px;
	font-family: sans-serif;
	height: 100%;
	min-height: 200px;
}

.wrapper {
	position: relative;
	display: block;
	width: 100%;
	top: 0px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0px auto -50px;
	background-color: red;
	padding: 0px;
}

.main-wrapper {
	position: absolute;
	top: 100px;
	bottom: 50px;
	left: 0px;
	right: 0px;
	width: 100%;
	padding-bottom: 32px;
	min-height: 200px;
}

.footer-wrapper {
	position: absolute;
	bottom: 0px;
	clear: both;
	height: 40px;
	min-height: 40px;
	width: 100%;
	padding-bottom: 10px;
}

.header-wrapper {
	position: absolute;
	top: 0px;
	padding: 0px;
	margin-right: 10px;
	width: 100%;
	height: 90px;
	padding-bottom: 10px;
}

.header {
	margin: 10px;
	height: 48px;
	padding: 20px;
}

.header>.links {
	position: absolute;
	bottom: 10px;
	left: 35px;
}

.header>.links>a {
	display: inline-block;
	padding-right: 10px;
}

.login-wrapper {
	display: block;
	position: absolute;
	bottom: 10px;
	right: 20px;
	height: 70px;
}

.login-wrapper .editor,.login-wrapper label,.login-wrapper>form,.login-wrapper>button,.login-wrapper>div
	{
	display: inline-block;
}
.login-wrapper > form > fieldset {
	border: none;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.login-wrapper label {
	margin-right: 6px;
	font-size: 12px;
	width: 100px;
	text-align: right;
}
.login-wrapper div.editor {
	margin-right: 0px;
}
.login-wrapper > .login-links {
	display: block;
	padding-left: 120px;
	height: 10px;
	margin-top: -5px;
}
.logged-in > .login-links {
	display: block;
	padding-left: 0px;
	height: 10px;
	margin-top: -5px;
}
.login-links > a {
	font-size: 12px;
	padding-right: 10px;
}

.login-wrapper > form > fieldset > div {
	margin-top: 0px;
	margin-bottom: 6px;
}
.logged-in {
	margin-top: 34px;
	height:25px;
}
.logged-in > * {
	display: inline-block;
}
.logged-in > .label {
	font-size: 12px;
	margin-right: 3px;
}
.logged-in > .user-name {
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	margin-right: 10px;
}

div#textList {
	overflow-y: scroll;
	position: absolute;
	top: 80px;
	bottom: 20px;
	left: 20px;
	right: 20px;
}
div#textList > div {
	margin-bottom: 6px;
}
div#textList > div > div {
	font-size: 12px;
}
div#textList > div > a {
	font-size: 12px;
	font-weight: bold;
}
div#textList, div#textListSummary {
	text-align: justify;
	padding: 20px;
}

form#uploadForm {
	padding: 20px;
}
form#uploadForm > div.row {
	display: block;
	margin-bottom: 10px;
}
form#uploadForm > div.row > div.label {
	display: inline-block;
	width: 100px;
	text-align: right;
	font-size: 14px;
	padding-right: 5px;
}
form#uploadForm > div.row > input, form#uploadForm > div.row > button {
	display: inline-block;
}


.main {
	padding: 5px;
	margin: 10px;
	height: 100%;
}

.footer {
	margin: 0px 10px;
	padding: 5px;
	height: 29px;
}