.login-wrapper {
	display: block;
	position: absolute;
	bottom: 12px;
	right: 20px;
	height: 70px;
}

.login-wrapper .editor,.login-wrapper label,.login-wrapper>form,.login-wrapper>button,.login-wrapper>div
	{
	display: inline-block;
}

.login-wrapper .input-xlarge {
	width : 150px;
}
.login-wrapper .control-group {
	height: 28px;
}

.login-wrapper>form>fieldset input {
	padding-bottom: 2px;
	margin-bottom: 2px;
	width: 140px;
}

.login-wrapper>form {
	margin-bottom: 0px;
}

.login-wrapper>form>fieldset {
	border: none;
	margin-right: 10px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.login-wrapper label {
	margin-right: 6px;
	font-size: 12px;
	width: 100px;
	text-align: right;
}

.login-wrapper div.editor {
	margin-right: 0px;
}

.login-wrapper>.login-links {
	display: block;
	padding-left: 162px;
	height: 10px;
	margin-top: -5px;
}

.logged-in>.login-links {
	position: relative;
	display: block;
	padding-left: 0px;
	height: 10px;
	margin-top: 5px;
}

.login-links>a {
	font-size: 12px;
	padding-right: 10px;
}

.login-wrapper>form>fieldset>div {
	margin-top: 0px;
	margin-bottom: 6px;
}

.logged-in {
	margin-top: 24px;
	height: 25px;
}

.logged-in #logoutButton {
	margin-left: 30px;
}

.logged-in>* {
	display: inline-block;
}

.logged-in>.textus-label {
	font-size: 12px;
	margin-right: 3px;
}

.logged-in>.user-name {
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	margin-right: 10px;
}