.pageContainer {
	position: relative;
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
}

.pageContainer canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	pointer-events:none;
}

.pageContainer .pageText {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	overflow-y: hidden;
	padding: 20px 300px 20px 20px;
}

.pageContainer .annotations {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 275px;
	padding: 5px 5px 0px 15px;
	overflow-y: scroll;
}

.pageContainer .annotations > div {
	display: block;
	border: solid;
	border-width: 1px;
	border-color: #777;
	position: relative;
	margin: 0px 0px 5px 0px;
	background-color: #fffefe;
	padding: 5px;
}

.chapter {
	display: block;
	font-weight: bold;
	font-size: 30px;
	line-height: 35px;
	padding-bottom: 10px;
}
.paragraph {
	display: block;
	font-size: 12pt;
	line-height: 16pt;
	padding-bottom: 10px;
	text-align: justify;
	text-indent: 20px;
}
.pageTextMeasure {
	position: absolute;
	padding: 20px 300px 20px 20px;
	left: -10000px;
}
.textus-annotation-start, .textus-annotation-end {
	width: 0px;
	display: inline-block;
	white-space: nowrap;
}

.footer button {
	position: absolute;
	height: 29px;
}
.footer button#pageBackButton {
	left: 15px;
}
.footer button#pageForwardButton {
	right: 15px;
}