.pageContainer {
	position: relative;
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
}

.pageContainer canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	pointer-events: none;
}

.pageContainer .pageText {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	overflow-y: hidden;
	padding: 20px 300px 20px 20px;
}

.pageContainer .annotations {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 275px;
	padding: 5px 5px 0px 15px;
	overflow-y: scroll;
}

.pageContainer .annotations>div {
	display: block;
	border: solid;
	border-width: 1px;
	border-color: #777;
	position: relative;
	margin: 0px 0px 5px 0px;
	background-color: #fffefe;
	padding: 5px;
}

.chapter {
	display: block;
	font-weight: bold;
	font-size: 30px;
	line-height: 35px;
	padding-bottom: 10px;
}

ul,ol,li {
	line-height: 16px;
}

h1 {
	padding-bottom: 20px;
	line-height: 34px;
}

h2 {
	padding-top: 6px;
	padding-bottom: 9px;
	line-height: 25px;
}

h3,h4,h5,h6 {
	padding-top: 5px;
	padding-bottom: 8px;
	line-height: 20px;
}

span.p,span.paragraph, span.i1, span.i2, span.i3, span.i4, span.i5, span.i6 {
	display: block;
	font-size: 12pt;
	line-height: 16pt;
	padding-bottom: 2px;
	text-align: justify;
	text-indent: 0px;
}

ol, ul {
	padding-top: 10px;
	padding-bottom: 10px;
}

ul > ol, ul > ul, ol > ol, ol > ul {
	padding-top: 2px;
	padding-bottom: 2px;
}

span.i1 {
	text-indent: 20px;
	line-height: 16pt;
}

span.i2 {
	text-indent: 30px;
}

span.i3 {
	text-indent: 40px;
}

span.i4 {
	text-indent: 50px;
}

span.i5 {
	text-indent: 60px;
}

span.i6 {
	text-indent: 70px;
}

span.b {
	display: inline;
	font-weight: bold;
}

span.i {
	display: inline;
	font-style: italic;
}

.pageTextMeasure {
	position: absolute;
	padding: 20px 300px 20px 20px;
	left: -10000px;
}

.textus-annotation-start,.textus-annotation-end {
	width: 0px;
	display: inline-block;
	white-space: nowrap;
}

.footer button {
	position: absolute;
	height: 29px;
}

.footer button#pageBackButton {
	left: 15px;
}

.footer button#pageForwardButton {
	right: 15px;
}