.user-registration fieldset {
	padding-top: 20px;
	padding-bottom: 10px;
	margin: 0px 20px 0px 20px;
	border: none;
	background-color: #e9ffe0;
}

.user-registration>p {
	text-align: justify;
	font-size: 14px;
	padding: 15px 25px 15px 25px;
}

.user-registration>button {
	margin-top: 10px;
	margin-left: 140px;
}

.user-registration fieldset>div {
	display: block;
	padding-bottom: 10px;
}

.user-registration fieldset>div>label,.user-registration fieldset>div>div
	{
	display: inline-block;
}

.user-registration label {
	width: 100px;
	font-size: 12px;
	padding-right: 10px;
	text-align: right;
}