.user-registration fieldset {
	padding-top: 20px;
	padding-bottom: 10px;
	margin: 0px 20px 0px 20px;
	border: none;
background-image: linear-gradient(bottom, rgb(255,250,224) 0%, rgb(255,248,232) 74%);
background-image: -o-linear-gradient(bottom, rgb(255,250,224) 0%, rgb(255,248,232) 74%);
background-image: -moz-linear-gradient(bottom, rgb(255,250,224) 0%, rgb(255,248,232) 74%);
background-image: -webkit-linear-gradient(bottom, rgb(255,250,224) 0%, rgb(255,248,232) 74%);
background-image: -ms-linear-gradient(bottom, rgb(255,250,224) 0%, rgb(255,248,232) 74%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(255,250,224)),
	color-stop(0.74, rgb(255,248,232))
);
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.user-registration>p {
	text-align: justify;
	font-size: 14px;
	padding: 15px 25px 15px 25px;
}

.user-registration>button {
	margin-top: 10px;
	margin-left: 140px;
}


.user-registration .form-horizontal .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 20px;
  *margin-left: 0;
}

.user-registration fieldset>div {
	display: block;
	padding-bottom: 10px;
}

.user-registration fieldset>div>label,.user-registration fieldset>div>div
	{
	display: inline-block;
}

.user-registration label {
	width: 100px;
	font-size: 12px;
	padding-right: 10px;
	text-align: right;
}