@import url('textView.css');

@import url('bootstrap/bootstrap.css');

@import url('forms-bootstrap.css');

@import url('ui-lightness/jquery-ui-1.8.21.custom.css');

@import url('facetview/facetview.css');

@import url('shakespeare.css');

.textus-content {
	position: relative;
	background-color: white;
	min-height: 100%;
	height: 100%;
}

.textus-table {
	margin-bottom: 0px;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
	display: inline-block;
	padding-right: 4px;
}

.textus-table tr td:first-child {
	padding-left: 0px;
}

.textus-table tr:first-child td {
	padding-top: 0px;
}

.textus-table tr:last-child td {
	padding-bottom: 0px;
}

.textus-table tr td {
	padding: 2px;
}

.textus-form .control-group {
	margin-bottom: 6px;
}

body,html {
	height: 100%;
}

body {
	overflow: hidden;
}

.main {
	position: relative;
	padding: 14px;
	top: 40px;
	left: 0px;
	right: 0px;
	background-color: white;
}

.main .container {
	width: 912px;
}

@media ( max-width : 979px) and (min-width: 768px) {
	.main .container {
		width: 696px;
	}
}

@media ( min-width : 1200px) {
	.main .container {
		width: 1142px;
	}
}

@media ( max-width : 768px) {
	.navbar .container {
		width: 100%;
	}
	.navbar-inner>.container>a.brand {
		padding-left: 30px;
	}
	.container {
		width: 100%
	}
	.main .container {
		width: 100%;
	}
	.main {
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
	}
	.main>* {
		padding-left: 10px;
		padding-right: 10px;
	}
	.row {
		margin-left: 0px;
	}
	.span1 {
		width: 8%;
	}
	.span2 {
		width: 16%;
	}
	.span3 {
		width: 24%;
	}
	.span4 {
		width: 32%;
	}
	.span5 {
		width: 40%;
	}
	.span6 {
		width: 48%;
	}
	.span7 {
		width: 56%;
	}
	.span8 {
		width: 64%;
	}
	.span9 {
		width: 72%;
	}
	.span10 {
		width: 80%;
	}
	.span11 {
		width: 88%;
	}
	.span12 {
		width: 96%;
	}
}

/* Modal dialogue */
div.textus-glass-pane {
	display: none;
	position: absolute;
	z-index: 2000;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(0, 0, 0, 0.1);
	position: absolute;
}

div.textus-modal {
	position: relative;
	display: inline-block;
	z-index: 2001;
	-moz-box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
	box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
	-moz-border-radius: 6px;
	border-radius: 6px;
}

div.textus-modal-header {
	padding: 10px;
	position: relative;
	display: block;
	top: 0px;
	left: 0px;
	right: 0px;
	border: 1px solid rgba(0, 0, 0, 0.25);
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	background-color: whiteSmoke;
	cursor: move;
}

div.textus-modal-contents {
	position: relative;
	display: block;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding: 10px;
	background-color: white;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.25);
}