@import url('textView.css');

@import url('bootstrap/bootstrap.css');

@import url('forms-bootstrap.css');

@import url('ui-lightness/jquery-ui-1.8.21.custom.css');

@import url('facetview/facetview.css');

@import url('shakespeare.css');

.textus-content {
	margin-top: 40px;
	background-color: white;
	padding: 14px;
}

.textus-table {
	margin-bottom: 0px;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
	display: inline-block;
	padding-right: 4px;
}

.textus-table tr td:first-child {
	padding-left: 0px;
}

.textus-table tr:first-child td {
	padding-top: 0px;
}

.textus-table tr:last-child td {
	padding-bottom: 0px;
}

.textus-table tr td {
	padding: 2px;
}

.textus-form .control-group {
	margin-bottom: 6px;
}