form#uploadForm {
	padding: 20px 20px 5px 20px;
	margin: 0px 20px 0px 20px;
	background-image: linear-gradient(bottom, rgb(255,250,224) 0%, rgb(255,248,232) 74%);
background-image: -o-linear-gradient(bottom, rgb(255,250,224) 0%, rgb(255,248,232) 74%);
background-image: -moz-linear-gradient(bottom, rgb(255,250,224) 0%, rgb(255,248,232) 74%);
background-image: -webkit-linear-gradient(bottom, rgb(255,250,224) 0%, rgb(255,248,232) 74%);
background-image: -ms-linear-gradient(bottom, rgb(255,250,224) 0%, rgb(255,248,232) 74%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(255,250,224)),
	color-stop(0.74, rgb(255,248,232))
);
	-moz-border-radius: 15px;
	border-radius: 15px;
}

form#uploadForm>div.row {
	display: block;
	margin-bottom: 10px;
}

form#uploadForm>div.row>div.textus-label {
	display: inline-block;
	width: 100px;
	text-align: right;
	font-size: 14px;
	padding-right: 5px;
}

form#uploadForm>div.row>input,form#uploadForm>div.row>button {
	display: inline-block;
}