<div>
  <img src="http://farm8.staticflickr.com/7073/7191026054_64b993f950_o.jpg" class="pull-right" style="margin-left: 1em;">
  <h1>Open Philosophy<sup><em>beta</em></sup></h1>

  <p><strong>
    Welcome to the beta release of Open Philosophy, an open access collection of public domain philosophy texts - from Heraclitus to Hegel, Schopenhauer to Schlegel.
  </strong></p>
  <p><strong>
    If you’d like to start reading, adding, curating and annotating texts you can <a href="/#login/%23">sign up for an account</a>.
  </strong></p>
  <p>
  Open Philosophy is powered by the open source <a href="http://textusproject.org/">TEXTUS platform</a>, developed by the Open Knowledge Foundation. If you’re interested in contributing to the project, we’d love to <a href="http://textusproject.org/contact/">hear from you</a>.
  </p>
</div>

