<div class="summary">

	<h2>What is TEXTUS?</h2>
	<p>
		In a nutshell it is an open source platform for working with
		collections of texts. It harnesses the power of semantic web
		technologies and delivers them in a simple and intuitive interface so
		that students, researchers and teachers can share and collaborate
		around collections of texts. TEXTUS is a project of the <a
			href="http://okfn.org">Open Knowledge Foundation</a>. The home page
		for the TEXTUS project is at <a href="http://textusproject.org/">textusproject.org</a>.
	</p>
	<h2>What is the state of this beta version?</h2>
	<p>This instance of TEXTUS allows you to upload texts in WikiText
		or plain text format, and to read these texts and create annotations.
	</p>
	<p>Click on the 'All Texts' link to see texts which have been
		uploaded, click on any text in the list to start reading and see
		annotations from other users.</p>
	<p>
		Optionally, either log in or register an account using the panel in
		the top right of the screen. Please <em>do not</em> use any valuable
		passwords! there's no guarantee of security for this particular
		instance of the server.
	</p>
	<p>Once logged in you can create annotations by selecting text in
		the reader interface and entering your comment into the editor which
		will appear. Click anywhere else on the text to dismiss the editor
		without saving your annotations.</p>
	<p>At the moment all annotations are public, and there is no way to
		delete them. Play nice.</p>

	</ol>
	</p>
</div>

