<div>
  <img src="http://farm8.staticflickr.com/7073/7191026054_64b993f950_o.jpg" class="pull-right" style="margin-left: 1em;">
  <h1>Welcome to Open Philosophy</h1>

  <p><strong>Open Philosophy enables you to freely and easily share, annotate
    and compile public domain philosophy texts.</strong></p>

  <p>It is an entry point into the vast amount of digitised public
  material now available on the web allowing scholars, students and
  enthusiasts to collaborate around some of the greatest and most
  profound works in human history.</p>

  <p>Open Philosophy is a community driven project. All content is
  uploaded and maintained by groups of volunteers.
  <a href="http://beta.openphilosophy.org/#login/%23">Register to use Open Philosophy</a>
  right away.</p>

  <p>The site is based on software from the <a href="http://textusproject.org">TEXTUS project</a>, which
  is an open source platform for the humanities currently in the
  BETA stage of development. Discussion about improvements to the
  platform and use cases occur on the Open Humanities Discussion
  List - <a href="http://lists.okfn.org/mailman/listinfo/open-humanities">join
    the conversation today</a>.</p>

  <p>If you are a coder would like to get involved in the effort to
  develop TEXTUS further, please join the <a href="(http://lists.okfn.org/mailman/listinfo/humanities-dev">Open Humanities
    Developer mailing list</a>.</p>

  <p>If you notice issues with this site, please report them to:
  info@textusproject.org or <a href="https://github.com/okfn/textus/issues">on GitHub</a>.</p>

  <p>All content on this site is in the public domain and is therefore
  free to use, re-use and re-distribute. If you identify material on
  this site that is in copyright please email info@textusproject.org.</p>
</div>

