<div>
	<h2>Create a new password</h2>
	<p>To access your textus account please enter a password into the
		form below. Once the password has been updated you will be redirected
		to the account options page for your textus account.</p>
	<hr />
	<form class="form-horizontal">
		<fieldset>
			<div id="message"></div>
			<div class="control-group">
				<label class="control-label" for="pw1">Password</label>
				<div class="controls">
					<input type="password" class="span3" id="pw1"
						placeholder="password">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="pw2">Password</label>
				<div class="controls">
					<div class="input-append">
						<input type="password" class="span3" id="pw2"
							placeholder="password (confirm)"><a href="#"
							id="submit-button" class="btn btn-success">Submit</a>
					</div>
					<p class="help-block">Enter a new password for your textus
						account and click the 'submit' button.</p>
				</div>
			</div>
		</fieldset>
	</form>
</div>

