<div>

	<form class="form-horizontal textus-form" id="editBibJsonForm">
		<fieldset id="formFieldSet">
			<div class="control-group">
				<label class="control-label"><h4>Reference Editor</h4> </label>
				<div class="controls">
					<div class="btn-group">
						<a class="btn btn-info dropdown-toggle" data-toggle="dropdown"
							href="#" id="addOptionsTrigger">Add Field <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" id="addOptions">
							<!-- dropdown menu links -->
						</ul>
					</div>

				</div>
			</div>
		</fieldset>
	</form>

</div>