<div>
	<h2>Log In</h2>
	<p>On this page you can either log in with a previously registered
		account, register to create a new account on the server or request a
		reset of your password should you have mislaid it. If you either
		register or request a password reset a link will be emailed to the
		address you provide, please ensure that the email you provide is valid
		- you must click on the link in that email before you can use your new
		account.</p>
	<hr />
	<form class="form-horizontal">
		<fieldset>
			<div id="messages"></div>
			<div class="control-group">
				<label class="control-label" for="email">Email address</label>
				<div class="controls">
					<div class="input-append">
						<input type="text" class="span3" id="email"
							placeholder="user@email.com"><a href="#"
							id="register-button" class="btn">Register</a><a href="#"
							id="forgot-password-button" class="btn">Reset Password</a>
					</div>
					<p class="help-block">Email address used to register the
						account, or to create a new account.</p>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password">Password</label>
				<div class="controls">
					<div class="input-append">
						<input type="password" class="span3" id="password"
							placeholder="password"><a href="#" id="log-in-button"
							class="btn btn-success">Log in</a>
					</div>
					<p class="help-block">Password, leave blank if requesting a
						reset or creating a new account.</p>
				</div>
			</div>
		</fieldset>
	</form>
</div>