<h2>Your Uploads</h2>
<p>The table below shows uploads which you can curate. If it is
	empty this just means you haven't any uploads - you can either upload a
	new text or get in touch with someone else and see if they'd like a
	hand with the structure curation. Click on any of the 'Curate' buttons
	to jump to the curation view for that text where you can assign index
	points and edit bibliographic metadata.</p>

<div class="content">
	<table class="table table-bordered table-striped">
		<tbody id="uploadsTableBody"></tbody>
	</table>
</div>