<ul id="reviewTab" class="nav nav-tabs">
	<li class="active"><a href="#reviewTabText" data-toggle="tab">Text</a></li>
	<li><a href="#reviewTabBibJsonEditor" data-toggle="tab">Reference
			and Accept / Reject</a></li>
</ul>
<div id="reviewTabContent" class="tab-content">
	<div class="tab-pane fade in active" id="reviewTabText"></div>
	<div class="tab-pane fade" id="reviewTabBibJsonEditor">
		<div id="reviewTabButtons">
			<button id="acceptReviewButton">Accept</button>
			<button id="rejectReviewButton">Reject</button>
		</div>
	</div>
</div>