<div class="" style="width: 100%; display: block">
	<!-- Only required for left/right tabs -->
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tab1" data-toggle="tab">Text</a></li>
		<li><a href="#tab2" data-toggle="tab">Reference and Accept /
				Reject</a></li>
	</ul>
	<div class="tab-content" style="overflow: visible">
		<div class="tab-pane active" style="overflow-y: scroll; padding-right: 10px;" id="tab1">
			<p>I'm in Section 1.</p>
		</div>
		<div class="tab-pane" style="width: 100%" id="tab2">
			<p>To make your new text visible to other users you need to
				assign a set of basic bibliographic metadata. Use the control below
				to create a new citation for the text, this citation is what is used
				when searching by author, title etc. Once your citation looks
				correct click the 'Accept' button just below this paragraph to store
				it to the database.</p>
			<div id="reviewTabButtons" style="height: 30px">
				<a class='btn btn-success pull-right' id="acceptReviewButton">Accept</a>
				<a class='btn btn-danger pull-right' id="rejectReviewButton"
					style="margin-right: 10px">Reject</a>
			</div>
			<hr />
		</div>
	</div>
</div>