<div>
	<h2>Component Test</h2>
	<p>This is a page I'm using to test various bits of UI code before
		they get used elsewhere.</p>
	<hr />
	<div id="editorTest" />
	<hr />
	<p>The BibJSON for the reference being edited is shown below and
		updates along with any changes to the UI.</p>
	<div class="container">
		<pre id="jsonText" />
	</div>
	<hr />
	<p>Use this button to test the modal functionality</p>
	<div class="btn-group">
		<a id="openModalLeft" href="#" class="btn btn-info">Modal (left)</a>
		<a id="openModalRight" href="#" class="btn btn-info">Modal (right)</a>
		<a id="openModalTop" href="#" class="btn btn-info">Modal (top)</a>
		<a id="openModalBottom" href="#" class="btn btn-info">Modal (bottom)</a>
		<a id="openModalOver" href="#" class="btn btn-info">Modal (over)</a>
		<a id="openModalNoEvent" href="#" class="btn btn-info">Modal (no event)</a>
		<a id="openModalNoPosition" href="#" class="btn btn-info">Modal (no position)</a>
	</div>
</div>