<div class="summary">
	<p>Use the form below to upload either a plain text or, optionally,
		plain text with wiki markup. Enter a description and short name, pick
		a file from your local disk and click the 'upload' button...</p>
</div>
<form id="uploadForm" action="/api/texts" method="post"
	data-remote="true" enctype="multipart/form-data">
	<div class="row">
		<div class="label">Title</div>
		<input type="text" name="title" />
	</div>
	<div class="row">
		<div class="label">Description</div>
		<input type="textarea" name="description" />
	</div>
	<div class="row">
		<div class="label">Text file</div>
		<input type="file" name="text" />
	</div>
	<div class="row">
		<div class="label"></div>
		<button>Upload</button>
	</div>
</form>