<!-- This is the main text reader UI, it consists of several sub-components -->
<div class="readerMainPanel">
	<div class="breadcrumbContainer">
		<ul class="breadcrumbList">
			<!-- list elements here create the breadcrumb trail -->
		</ul>
	</div>
	<div class="mainContainer">
		<div class="pageContainer">
			<!-- Groups the canvas and page text together -->
			<canvas id="pageCanvas">
			<!-- Used to render annotation indicators -->
			Text to display if browser doesn't support canvas
			</canvas>
			<div class="pageText">
				<!-- Contains the actual text to be read -->
			</div>
		</div>
		<div class="annotationContainer"></div>
	</div>
</div>