<div>
	<h2>User preferences</h2>
	<hr />
	<div class="row">
		<div class="span1">
			<img id="gravatar" />
		</div>
		<div class="span10">
			<h3>Icon</h3>
			The image icon is from your gravatar, or globally recognizable
			avatar. If you haven't created one of these on <a
				href="http://gravatar.com">gravatar.com</a> you will have a
			semi-random pattern derived from your email address. This icon is
			used to represent you in various places on this textus server, if you
			wish to change it please use gravatar's web interface.
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="span1">&nbsp;</div>
		<div class="span7">
			<h3>Annotation Colour</h3>
			<p>This control determines the colour used for any annotations
				you make. Changes here will be reflected in any annotations you have
				already made, assuming the viewer has selected an annotation
				colouring mode based on author.</p>

		</div>
		<div class="span3">
			<div id="annotationColourPicker" style="padding-left: 100px"></div>
		</div>

	</div>
	<hr />
	<div class="row">
		<div class="span1">&nbsp;</div>
		<div class="span10">
			<h3>Display Name</h3>
			<p>Used in place of an email address, if you leave this field
				blank textus will use your email address when it needs to represent
				you in some fashion.</p>
			<form class="form-horizontal" style="padding-top:10px">
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="displayName">Display
							Name</label>
						<div class="controls">
							<input type="text" class="span3" id="displayName"
								placeholder="name" />
						</div>
					</div>
				</fieldset>
			</form>
		</div>

	</div>
	<hr />
	<div class="row">
		<a class="btn btn-success pull-right" id="saveChanges">Save
			Changes</a>
	</div>
</div>


</div>