<div>
	<h2>User preferences</h2>

	<hr />
	<div class="row">
		<div class="span1">
			<img id="gravatar" />
		</div>
		<div class="span10">
			<h3>Icon</h3>
			The image icon is from your gravatar, or globally recognizable
			avatar. If you haven't created one of these on <a
				href="http://gravatar.com">gravatar.com</a> you will have a
			semi-random pattern derived from your email address. This icon is
			used to represent you in various places on this textus server, if you
			wish to change it please use gravatar's web interface.
		</div>

	</div>



</div>